<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{SupportYourLocal}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

</head>
<body>

  <header class="header-container">
      <div class="header-left">
          <a href="/"><h1 class="h1-layout">Support Your Locals</h1></a> 
          <nav class="nav-bar">
            <ul class="nav-bar-ul">
              <li><a href="/user/company-overview">Businesses</a></li>
              <li><a href="/vouchers">Vouchers</a></li> 
              <li><a href="/login">Profile</a></li>
            </ul>
        </nav>
      </div>
          
    
  </header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>