{{!-- <h1>Login</h1> --}}

<h2>Login as a user</h2>
<br>

<form action="user/login-user" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="password" name="password">
  <button class="button" type="submit">Log in</button>
</form>
<br>


{{#if usermessage}}
  <p style="color: red;">{{usermessage}}</p>

{{/if}}
<br>

<h2>Login as a business</h2>
<br>

<form action="business/login-business" method="POST">
  <label for="username">Business Name</label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="password" name="password">
  <button class="button" type="submit">Log in</button>
</form>
<br>


{{#if businessmessage}}
  <p style="color: red;">{{businessmessage}}</p>

{{/if}}
<br>
<br>