{{!-- <h1>Register as a user or a business</h1> --}}

<h2>Register as a user</h2>
<br>
<form action="user/signup-user" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="password" name="password">
  <button class="button" type="submit">Sign up</button>
</form>
<br>
{{#if usermessage}}
  <p style="color: red;">{{usermessage}}</p>
{{/if}}

<h2>Register your business</h2>
<br>
<form action="business/signup-business" method="POST">
  <label for="username">Business Name</label>
  <input type="text" name="username">
  
  <label for="password">Password</label>
  <input type="password" name="password">
  <button class="button" type="submit">Sign up</button>
</form>
<br>
{{#if businessmessage}}
  <p style="color: red;">{{businessmessage}}</p>
{{/if}}