<div class="forms">
    <a class="signup-login" href="/logout">Logout</a>
</div>


<h1>Welcome {{user.username}}</h1>
<br>
<h3>Find your profile information below</h3>

<ul>
    <li>Username: {{user.username}}</li>
    <li>Password: ********   </li>
    <li>Avatar:   {{user.avatar}}</li>
    <li>Full Name:{{user.name}}</li>
</ul>
<br>

<div>
    <a class="signup-login" href="/business/voucher">Buy a voucher</a>
    <br>
    <a class="signup-login" href="/user/company-overview">Your local Stores</a>
</div>

