{{!-- <h1>Welcome to {{title}}</h1> --}}
<div class="forms">
        <a class="signup-login" href="/signup">Sign Up</a>
        <a class="signup-login" href="/login">Log In</a>
</div>


    <h2 class="index">Help your local businesses in these difficult times</h2>
    <p class="p-index">This holiday season, instead of boosting Amazon's profits, think about contributing to the local economy, gift a voucher from your local bookshop, restaurant, salons, craftstores, art venues.<br> Let's help them stay in business a little longer</p>

<div class="main-page">
    
    <p><img src="https://res.cloudinary.com/irieljm/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:ffffff/v1606166607/supportYourLocal/hAusen_in_llzkkt.webp" alt="shop-in-berlin"width="600" height="600"></p> 
    
    <h3>Buy a voucher now!</h3>
</div>








