{{!-- <h1>Register as a user or a business</h1> --}}

<div id="sign-login">
  <h2>Register as a user</h2>
  <br>
  <div>
    <form action="user/signup-user" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username">
      <br>
      <label for="password">Password </label>
      <input type="password" name="password">
      <br>
      <br>
      <button class="button" type="submit">Sign up</button>
    </form>
  </div>
  <br>
  {{#if usermessage}}
    <p style="color: red;">{{usermessage}}</p>
  {{/if}}
  
  <h2>Register your business</h2>
  <br>
  <div>
    <form action="business/signup-business" method="POST">
      <label for="username">Business name </label>
      <input type="text" name="username">
      <br>
      <label for="password">Password </label>
      <input type="password" name="password">
      <br>
      <br>
      <button class="button" type="submit">Sign up</button>
    </form>
  </div>
  <br>
  {{#if businessmessage}}
    <p style="color: red;">{{businessmessage}}</p>
  {{/if}}
</div>