<h1>Add a voucher</h1>
<br>
<form action="/voucher/add-voucher" method="POST">
    <label for="title">Title</label>
    <input id="title" type="text" name="title">

    <label for="price">Value</label>
    <input id="price" type="number" name="price">

    <label for="description">Description</label>
    <input id="description" type="text" name="description">

    <button type="submit">Add</button>

</form> 
