    <h1>Companies to support</h1>

<div class="container-overview">
    <br>
    {{#each companyList}}
    <div class="container2">
    	<a href="/business/{{_id}}"><h2 id="companyName">{{companyName}}</h2></a>
    	
        <p class="text">{{description}}</p>
    </div>
    
    {{/each}}    

</div>
