@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: Poppins, sans-serif;
  height: 100vh;
  width: 100vw;
  
}
h2 {
  font-size: 1.5em;
  width: 20vw;
  padding:5px;
  border-radius: 10px;
  text-decoration: none;
  display: center;
  // flex-direction: column;
  // flex-wrap: nowrap;
  align-items: center;
  align-content: flex-start;
  // font-size: 1em;
  text-align: center;
  margin: 2px 0 0 10px;
  color: white;
  background-color: rgb(38, 143, 76);
}

#companyName {
  font-size: 1.6em;
  width: 20vw;
  padding:5px;
  border-radius: 10px;
  text-decoration: none;
  display: center;
  align-items: center;
  align-content: flex-start;
  // font-size: 1em;
  text-align: center;
  margin: 2px 0 0 10px;
  color: white;
  background-color: rgb(38, 143, 76);
}

.details p {
  margin: 0 0 0 5px;
}

.index {
  width: 600px;
  height: 35vm;
  margin: 0 auto;
  font-style: italic;
}
.main-page {
  width: 500px;
  height: 35vm;
  margin: 0 auto;
}
 .p-index {
  display: flex;
  width: 600px;
  height: 35vm;
  margin: 0 auto;
  font-style: italic;
 }

 h3 {
  font-size: 1em;
  width: 20vw;
  padding:5px;
  border-radius: 10px;
  text-decoration: none;
  display: center;
  // flex-direction: column;
  // flex-wrap: nowrap;
  align-items: center;
  align-content: flex-start;
  // font-size: 1em;
  text-align: center;
  margin: 2px 0 0 10px;
  color: white;
  background-color: #dbbfbf;
}

.text { 
  max-width: 100vw;
  padding: 5px;
  font-size: 1vw;
  color: black;
  font-weight: lighter;
  text-align: left;
  margin: 1rem 0 2rem 0;
  line-height: 1.5em;
  width: 50vh;
  
}
h4 {
  font-size: 1em;
  font-style: underline;
  width: 20vw;
  padding:5px;
  border-radius: 10px;
  text-decoration: none;
  display: center;
  // flex-direction: column;
  // flex-wrap: nowrap;
  align-items: center;
  align-content: flex-start;
  // font-size: 1em;
  text-align: center;
  margin: 2px 0 0 10px;
  color: white;
  background-color: #494747;
}



a {
   text-decoration: none;
  color: #00B7FF;
}

.header-left {
  padding: 0 20px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid lightgray;
}

.forms {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
}

.signup-login {
  width: 10vw;
  padding:5px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: flex-start;
  font-size: 1em;
  text-align: center;
  margin: 0 0 0 5px;
  color: white;
  background-color: #577058;
}

.nav-bar {
  width: 300px;
}

.nav-bar-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-ul a {
  text-decoration: none;
  color: black;
}

.button {
  width: 10vw;
  padding:5px;
  border-radius: 10px;
  text-decoration: none;
  // display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: flex-start;
  font-size: 1em;
  text-align: center;
  // margin: 0 0 0 5px;
  color: white;
  background-color: grey;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	// align-items: center;
  align-content: stretch;
  padding-left: 50px ;
  padding-bottom: 50px;
  margin: 2rem 5rem;
}

#logo {
  height: 150px;
  width: 150px;
}
#product {
  border: 1px solid black;
  margin: 3px 3px;
  height: 220px;
  width: 220px;
}

#product-list {
  display: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-between;
}

#product1 {
  border: 1px solid black;
  padding: 0 0;
  margin: 3px 3px;
  height: 220px;
  width: 220px;
}

